<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Phone Verification</title>

        <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css" data-turbolinks-track="reload" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
        <h1>Verify your phone number</h1>
        <form action="{{ url_for('phone') }}" accept-charset="UTF-8" method="post">
          <div>
            <label for="authy-countries">Country code:</label>
            <select name="country_code" id="authy-countries" data-show-as="number"></select>
          </div>
          <div>
            <label for="phone_number">Phone number:</label>
            <input type="tel" name="phone_number" id="phone_number" />
          </div>
          <button name="button" type="submit">Verify</button>
        </form>
  </body>
</html>