<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>i-Met</title>
    <meta name="description" content="">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.ico') }}">


    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link src="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-login-page.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonticons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsnav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/icon.png') }}">

</head>

<body>
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed white scroll-menu bootsnav navbar-mobile menu-login">

    <div class="hv2-main-menu-bg">

        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">

                        <!-- Start Header Navigation -->
                        <div class="navbar-header menu-login">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="#brand">
                                <img src="{{ url_for('static', filename='images/icon.png') }}"
                                     class="logo logo1 logo-display" alt="">
                                <img src="{{ url_for('static', filename='images/icon.png') }}"
                                     class="logo logo2 logo-scrolled" alt="">
                            </a>
                        </div>
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right m-top-20" data-in="fadeIn" data-out="fadeOut">

                                <li><a href="{{ url_for('index') }}">Головна</a></li>
                                <li><a href="{{ url_for('index') }}">Про проект</a></li>
                                <li><a href="{{ url_for('index') }}">Про контролер</a></li>
                                <li><a href="{{ url_for('index') }}">Вартість</a></li>
                                <li><a href="{{ url_for('index') }}">Контакти</a></li>
                                <li class="active"><a href="{{ url_for('register') }}">Реєстрація</a></li>

                                <li><a href="{{ url_for('login') }}"> Вхід</a>
                                </li>

                            </ul>
                        </div>
                        <!-- /.navbar-collapse h-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">


            <div class="row m-bottom-m-20">
                <div class="col-sm-8 col-sm-offset-2 text m-botton-">
                    <h1><strong>І-MET</strong> реєстрація </h1>
                    <p>
                        Створіть Ваш особистий кабінет
                    </p>

                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 m-top-m-20">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Реєстрація</h3>
                            <p>Заповніть форму нижче:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fas fa-user-plus"></i>
                        </div>
                    </div>

                    <div class="form-bottom">
                        <form role="form" action="{{ url_for('register') }}" method="POST" class="login-form">

                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">Ім'я</label>
                                <input type="text" name="first-name" placeholder="Ім'я"
                                       class="form-first-name form-control" id="form-first-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-last-name">Прізвище</label>
                                <input type="text" name="last-name" placeholder="Прізвище"
                                       class="form-last-name form-control" id="form-last-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">Номер лічильника</label>
                                <input type="text" name="counter-name" placeholder="№ лічильника"
                                       class="form-first-name form-control" id="form-first-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-type">Тип</label>
                                <input type="text" name="type" placeholder="Тип"
                                       class="form-last-name form-control" id="form-last-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Email</label>
                                <input type="text" name="email" placeholder="Email"
                                       class="form-email form-control"
                                       id="form-email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Телефон</label>
                                <input type="text" name="phone" placeholder="Телефон"
                                       class="form-email form-control" id="form-email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Пароль</label>
                                <input type="password" name="password" placeholder="Пароль"
                                       class="form-password form-control" id="password">
                            </div>
                            <button href='{{ url_for('user_cabinet') }}' class="button">
                                Зареєструватись
                            </button>
                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>


    <div class="social-login">
        <h3>Зареєструватися за допомогою:</h3>
        <div class="social-login-buttons">
            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                <i class="fab fa-twitter"></i> Twitter
            </a>
            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                <i class="fab fa-google-plus-g"></i> Google Plus
            </a>
        </div>
    </div>
</div>

</div>


<!-- Javascript -->
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>


<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
<script
        src="{{ url_for('static', filename='js/bootsnav.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.formchimp.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript"></script>

<!--[if lt IE 10]>
            <script src="{{ url_for('static', filename='js/placeholder.js') }}"></script>
        <![endif]-->
</div>
</div>
</body>

</html>
